body {
	min-width: 1200px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
}

h2,h3 {
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	font-family: "PT Sans", sans-serif;
	text-align: center;
	color: #000000;
}

h3 {
	line-height: 21px;
}

p {
	margin: 0;
	padding: 0;
	text-align: center;
}

.central {
	margin: 0 auto;
}

.main-header {
	width: 1200px;
	min-height: 56px;
	background-color: #ffffff;
}

.main-nav {
	position: relative;
}

.main-nav img {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}

.main-nav ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-nav li {
	display: inline-block;
	width: 128px;
	padding: 16px 0;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	vertical-align: top;
}

.main-nav li:first-child {
	margin-left: 73px;
}

.main-nav li:nth-child(2) {
	margin-left: 112px;
}

.main-nav li:nth-child(3) {
	margin-left: 318px;
	text-align: right;
}

.main-nav li:last-child {
	margin-left: 112px;
	text-align: right;
}

.main-nav a {
	color: #000000;
	text-decoration: none;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	opacity: 0.3;
}

main {
	width: 1200px;
	background-color: #ffffff;
}

.intro {
	height: 408px;
	margin-bottom: 58px;
	padding-top: 76px;
	padding-bottom: 80px;
	background-color: #333333;
	background-image: url("../img/intro-background.jpg");
}

.intro img {
	display: block;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.features h2 {
	margin-bottom: 30px;
}

.features > p {
	margin-bottom: 50px;
}

.feature-wrapper:nth-of-type(1) {
	background-image: url("../img/feature-foto-1.jpg");
	background-position: 100% 0;
}

.feature-wrapper:nth-of-type(3) {
	background-image: url("../img/feature-foto-2.jpg");
}

.feature-wrapper:nth-of-type(4) {
	background-color: #eeeeee;
	margin-bottom: 58px;
}

.feature-item {
	float: left;
	width: 400px;
	padding-top: 50px;
	text-align: center;
}

.feature-item.left,
.feature-item.right {
	padding-top: 57px;
	color: #ffffff;
	background-color: #81b3d2;
}

.feature-item.left h3,
.feature-item.right h3 {
	color: #ffffff;
}

.feature-item.right {
	float: right;
}

.feature-item.left p,
.feature-item.right p {
	margin-bottom: 50px;
}

.feature-item h3 {
	margin-bottom: 22px;
}

.feature-item p {
	margin-top: 22px;
	margin-bottom: 60px;
}

.feature-item.housing,
.feature-item.food,
.feature-item.souvenirs {
	padding-top: 164px;
	background-image: url("../img/housing-food-souvenirs.png");
	background-repeat: no-repeat;
}

.feature-item.housing {
	background-position: 162px 56px;
}

.feature-item.food {
	background-position: -114px 56px;
}

.feature-item.souvenirs {
	background-position: -381px 56px;
}

.feature-item.housing p,
.feature-item.food p,
.feature-item.souvenirs p {
	margin-bottom: 80px;
}

.location {
	text-align: center;
	
}

.location span {
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
}

.location p {
	margin-top: 33px;
	margin-bottom: 47px;
}

.hotel-search {
	position: relative;
	width: 568px;
}

.hotel-search h2 {
	padding: 34px 0;
	color: #ffffff;
	background-color: #766357;
}

.hotel-search form {
	position: absolute;
	top: 94px;
	left: 0;
	padding: 55px;
	font-weight: 700;
	background-color: #ffffff;
}

.hotel-search .field-wrapper {
	position: relative;
	margin-bottom: 30px;
	padding: 0;
	font-size: 0;
	text-align: left;
}

.field-wrapper .calendar {
	position: absolute;
	top: 8px;
	right: 10px;
	width: 21px;
	height: 22px;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url("../img/sprite-calendar.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

.field-wrapper .calendar:hover {
	background-position: 0 -39px;
}

.field-wrapper .calendar:active {
	background-position: 0 -77px;
}

.hotel-search label {
	display: inline-block;
	width: 112px;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
}

.hotel-search input {
	display: inline-block;
	border: none;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: top;
	color: #000000;
	background-color: #f2f2f2;
	outline: none;
}

.hotel-search .date {
	width: 292px;
	padding-left: 13px;
	padding-right: 41px;
}

.hotel-search .date:hover {
	background-color: #ebebeb;
}

.hotel-search .date:active {
	background-color: #ebebeb;
}

.hotel-search .date:focus {
	width: 288px;
	border: 2px solid #e5e5e5;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #ffffff;
}

.hotel-search .number {
	width: 34px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

.field-wrapper label:nth-of-type(2) {
	width: 65px;
	margin-left: 53px;
}

.number-wrapper {
	display: inline-block;
	position: relative;
}

.hotel-search .up,
.hotel-search .down {
	position: absolute;
	top: 0;
	right: 0;
	width: 39px;
	height: 38px;
	border: none;
	background-color: transparent;
	background-image: url("../img/more-less-switcher.png");
	background-repeat: no-repeat;
	background-position: -62px 14px;
	outline: none;
	cursor: pointer;
}

.hotel-search .up:hover {
	background-position: -62px -25px;
}

.hotel-search .up:active {
	background-position: -62px -63px;
}

.hotel-search .down {
	left: 0;
	background-position: 14px 14px;
}

.hotel-search .down:hover {
	background-position: 14px -25px;
}

.hotel-search .down:active {
	background-position: 14px -63px;
}

.hotel-search button[type="submit"] {
	width: 100%;
	clear: both;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 21px;
	line-height: 26px;
	outline: none;
}

.main-footer {
	width: 1200px;
	min-height: 120px;
	background-color: rgba(255,255,255,0.9);
}

.hashtag {
	float: left;
	width: 400px;
	padding: 47px 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.hashtag a {
	color: #000000;
	text-decoration: none;
}

.socials {
	float: left;
	width: 400px;
	padding: 36px 0;
	font-size: 0;
	text-align: center;
}

.btn {
	display: inline-block;
	font-weight: 700;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
}

.btn:hover {
	background-color: #669ec0;
}

.btn:active {
	color: rgba(255,255,255,0.3);
	background-color: #5496bd;
}

.socials a {
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-image: url("../img/sprite-socials.png");
	background-repeat: no-repeat;
}

.socials a:last-child {
	margin-right: 0;
}

.socials-tw {
	background-position: 15px 15px;
}

.socials-fb {
	background-position: -37px 15px;
}

.socials-yt {
	background-position: -89px 15px;
}

.socials-tw:active {
	background-position: 15px -41px;
}

.socials-fb:active {
	background-position: -37px -41px;
}

.socials-yt:active {
	background-position: -89px -41px;
}

.copyright {
	float: right;
	width: 400px;
	padding: 40px 0;
	text-align: center;
	font-size: 0;
}

.copyright span,
.copyright a {
	display: inline-block;
	vertical-align: middle;
}

.copyright span {
	margin-right: 8px;
	font-size: 14px;
	line-height: 26px;
}

.copyright a {
	width: 113px;
	height: 40px;
	text-decoration: none;
	background-image: url("../img/logo-academy.png");
	background-repeat: no-repeat;
}

.copyright a:hover {
	background-position: 0 -48px;
}

.copyright a:active {
	background-position: 0 -95px;
}

/* hotels */

.main-nav > a:active {
	opacity: 1;
}

.main-nav span {
	color: #766357;
}

.filters {
	min-height: 217px;
	padding-left: 73px;
	padding-right: 73px;
	background-image: url("../img/filter-background.jpg");
}

.filters fieldset {
	float: left;
	width: 253px;
	margin-top: 30px;
	border: none;
	padding: 0;
}

.filters legend {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filters label {
	position: relative;
	display: block;
	margin-bottom: 32px;
	padding-left: 40px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	cursor: pointer;
}

.filters input[type="checkbox"] {
	display: none;
}

.filters .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: 0;
	width: 25px;
	height: 22px;
	background-image: url("../img/checkboxes.png");
	background-repeat: no-repeat;
}

.filters input[type="checkbox"]:checked + .checkbox-indicator {
	background-position: -49px 0;
}

.filters input[type="checkbox"]:disabled + .checkbox-indicator {
	background-position: 0 -60px;
}

.filters input[type="checkbox"]:disabled:checked + .checkbox-indicator {
	background-position: -49px -60px;
}

.filters .range {
	float: right;
	width: 330px;
	margin-top: 30px;
	color: #ffffff;
}

.range .range-title {
	margin-bottom: 13px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.range .range-price {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.range .range-price::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.range-price label {
	display: inline-block;
	padding-left: 65px;
	font-size: 14px;
	line-height: 36px;
	vertical-align: top;
	cursor: pointer;
}

.range-price input {
	width: 72px;
	border: none;
	color: #ffffff;
	background-color: transparent;
	outline: none;
}

.range .range-scale {
	position: relative;
	margin-bottom: 32px;
}

.range-scale .scale {
	height: 2px;
	background-color: rgba(255,255,255,0.3);
}

.range-scale .bar {
	height: 2px;
	width: 80%;
	background-color: #ffffff;
}

.range-scale .toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-scale .toggle-min {
	left: 0;
}

.range-scale .toggle-max {
	left: 80%;
}

.range-scale .toggle:hover {
	background-color: #1c4f80;
}

.range button {
	display: block;
	margin: 0 auto;
	border: 2px solid #ffffff;
	border-radius: 2px;
	padding: 7px 35px;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.range button:hover {
	color: #000000;
	background-color: #ffffff;
}

.sort {
	font-size: 12px;
	line-height: 18px;
}

.search-results {
	float: left;
	width: 160px;
	margin-left: 73px;
	padding: 30px 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sort-type {
	float: left;
	width: 654px;
	padding: 34px 0;
}

.sort-type span {
	margin-right: 40px;
}

.sort-type a {
	margin-right: 40px;
	border-bottom: 1px dotted #81b3d2;
	color: rgba(0,0,0,0.3);
	text-decoration: none;
}

.sort-type a:hover {
	color: #81b3d2;
}

.sort-type a:active {
	border: none;
	color: #000000;
}

.sort-type .active-type {
	color: #81b3d2;
}

.sort-order {
	float: right;
	width: 240px;
	margin-right: 73px;
	padding: 34px 0;
	font-size: 0;
	text-align: right;
}

.sort-order a {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 15px;
	text-decoration: none;
	vertical-align: top;
	background-image: url("../img/up-down-switcher.png");
	background-repeat: no-repeat;
}

.sort-order .ascending:hover {
	background-position: 0 -30px;
}

.sort-order .ascending:active {
	background-position: 0 -65px;
}

.sort-order .descending {
	background-position: -28px 0;
}

.sort-order .descending:hover {
	background-position: -28px -32px;
}

.sort-order .descending:active {
	background-position: -28px -67px;
}

.ascending.active-order {
	background-position: 0 -65px;
}

.descending.active-order {
	background-position: -28px -67px;
}

.hotels ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotels li {
	padding: 30px 0;
	border-top: 1px solid #e5e5e5;
}

.hotels li:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.hotels .hotel-photo {
	float: left;
	width: 165px;
	margin-left: 73px;
}

.hotels .hotel-info {
	float: left;
	width: 565px;
}

.hotels .hotel-name {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-decoration: none;
	color: #000000;
}

.hotels .hotel-name:hover {
	color: #81b3d2;
}

.hotels .hotel-name:active {
	opacity: 0.3;
}

.hotels .container {
	float: left;
	margin-right: 6px;
}

.container .btn {
	margin-top: 15px;
	padding: 3px 17px;
	font-size: 14px;
	line-height: 21px;
}

.container .book {
	background-color: #766357;
}

.container .book:hover {
	background-color: #604e43;
}

.container .book:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}

.hotels .hotel-stars,
.hotels .hotel-rating {
	float: right;
	width: 240px;
	margin-right: 73px;
	text-align: right;
}

.hotels .hotel-rating {
	width: 85px;
	margin-top: 40px;
	padding: 3px 15px;
	color: #666666;
	background-color: #f2f2f2;
}